<% include partials/_header2 %>
<style type="text/css">
  @font-face {
    font-family: 'icomoon';
    src: url('../fonts/icomoon.eot?kc3hef');
    src: url('../fonts/icomoon.eot?kc3hef#iefix') format('embedded-opentype'),
      url('../fonts/icomoon.ttf?kc3hef') format('truetype'),
      url('../fonts/icomoon.woff?kc3hef') format('woff'),
      url('../fonts/icomoon.svg?kc3hef#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
  }

  [class^="icon-"],
  [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  .icon-price-tag:before {
    color: rgb(3, 169, 244);
    content: "\e935";
    font-size: 125%;
  }

  .icon-barcode:before {
    color: rgb(3, 169, 244);
    content: "\e937";
    font-size: 125%;
  }

  .icon-cart:before {
    color: rgb(3, 169, 244);
    content: "\e93a";
    font-size: 125%;
  }

  .icon-open-book:before {
    color: rgb(3, 169, 244);
    content: "\e900";
    font-size: 125%;
  }

  .icon-book:before {
    color: rgb(3, 169, 244);
    content: "\e901";
    font-size: 125%;
  }

  body {
    font-family: 'Roboto';
    height: 100vh;
  }

  .demo-card-wide.mdl-card {
    display: table;
    margin: auto;
    width: 80%;
    margin-top: 20px;
    min-width: 70%;
    max-width: 80%;
  }

  .demo-card-wide>.mdl-card__title {

    height: 60px;
    background: rgb(3, 169, 244);;
  }

  .mdl-button2 {
    height: 50px;
  }

  table {
    margin-top: 50px;
    margin: auto;
    max-width: 100%;
    min-width: 50%;
    padding: 50px;
  }

  .PortadaLibro {
    margin-top: 80px;
    padding: 2em;
  }

  .InformacionLibro {
    vertical-align: top;
    width: 400px;
    min-width: 150px;
    text-align: left;
    padding: .5em;
  }

  .InformacionLibro-text {
    text-transform: uppercase;
    font-size: 135%;
  }

  .InformacionArticulo {
    vertical-align: top;
    width: 150px;
    min-width: 150px;
    padding: 20px;

  }

  .InformacionArticulo-text {
    font-weight: 450;
    color: #7CE936;
    display: inline;
  }

  .InformacionAdicional {
    margin-top: 100px;
    padding: .5em;
  }

  .InformacionAdicional-text {
    font-size: 110%;
    padding: .5em;
  }

  .input-number-group {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }



  .buscador {
    background: #fff;
    display: flex;
    border-radius: 8px;
    border: 2px solid #dfe1e5;
    box-shadow: none;
    border-radius: 24px;
    z-index: 3;
    height: 44px;
    margin: 0 auto;
    max-width: 482px;
  }

  .buscador:hover {
    -webkit-box-shadow: 0px 0px 6px 0px rgb(3, 169, 244);
    -moz-box-shadow: 0px 0px 6px 0px rgb(3, 169, 244);
    box-shadow: 0px 0px 6px 0px rgb(3, 169, 244);
  }

  .search {
    width: 100%;
    margin-left: 15px;
    margin-right: 15px;
    border: none;
  }

  .entrada:focus {
    outline: none;
  }
  .cont
  {
    height: 200px;
    width: 100%;
    margin-top: 100px;


  }

  .entrada {
    border: none;
    background-color: transparent;
    width: 100%;
    height: 44px;
    font: 18px 'Roboto', arial, sans-serif;
  }
  .botones {
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .nav
  {

    display: flex;
    margin-top: 5px;
      width: 100%;
      height: 50px;
      align-items: center;
  }

  .icono {
      color: rgb(3, 169, 244);
      font-size: 30px;
      margin: 5px;
    }
    .combo
    {
      width: 125px;
    }
    .cliente {
      font-size: 17px;
      letter-spacing: .03em;
    }
    .mdl-button {
      margin: 5px;
      line-height: 15px;
    }
    .imagen{

      background-image: url('../../logo350x350.png');
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
      width: 200px;
      height: 50px;
    }
    .mdl-textfield__expandable-holder {
      background: #fff;
      border-radius: 8px;
      border: 2px solid #dfe1e5;
      box-shadow: none;
      border-radius: 24px;
    }
    .mbutton
    {
      height: 30px;
      min-width: 30px;
      width: 30px;
    }
    .mtf
    {
      width: 20px;

    }
    .mdv
    {
      width: 20px;

    }
</style>

</head>

<body>
  <%include partials/_nav2 %>
  <div class="demo-card-wide mdl-card mdl-shadow--2dp">
      <div class="mdl-card__title">
          <h2 class="mdl-card__title-text"><%=mensaje%>lo</h2>
      </div>
    <table>
      <tr>
        <td class="PortadaLibro">
          <img src="<%=portada%>" width="230" height="330">
        </td>
        <td class="InformacionLibro">
          <h5 class="InformacionLibro-text"><%= data[0].titulo %></h5>
          <div>
            <h7><strong>Autor:</h7></strong>
            <h9 class="InformacionLibro-text mdl-card__title-text"><%=autor%></h9>
          </div>
          <div>
            <h7><strong>Editorial:</h7></strong>
            <h9 class="InformacionLibro-text mdl-card__title-text"><%= data[0].Editorial%></h9>
          </div>
          <div class="InformacionAdicional">
            <span class="icon-open-book"></span>
            <h7 class="InformacionAdicional-text"><strong> No. Páginas:</h7></strong>
            <h7 class="InformacionAdicional-text"><%= data[0].numpag%></h7>
            <br>
            <span class="icon-book"></span>
            <h7 class="InformacionAdicional-text"><strong> Género:</h7></strong>
            <h7 class="InformacionAdicional-text">Biografía</h7>
            <br>
            <!--<span class="icon-barcode"></span>
					<h7 class="InformacionAdicional-text"><strong> Código:</h7></strong>
	           		<h7 class="InformacionAdicional-text">123456</h7>
	           		<br>-->
            <span class="icon-price-tag"></span>
            <h7 class="InformacionAdicional-text"><strong> Serie:</h7></strong>
            <h7 class="InformacionAdicional-text"><%= data[0].NumSerie%></h7>
          </div>
        </td>
        <th class="InformacionArticulo">
          <br><br><br>
          <h5 class="InformacionArticulo-text">Precio: </h5>
          <h4 class="InformacionArticulo-text">$</h4>
          <h4 class="InformacionArticulo-text"><%= data[0].precio%></h4>
          <br><br>
          <form action="/cart/<%= data[0].NumSerie%>/<%= data[0].precio%>" method="POST">
            <button type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">Añadir al Carrito</button>

            <h6 class="text-center">Cantidad</h6>


              <button onclick="restar()" class="mdl-button mdl-js-button mdl-button--fab  mbutton">
                  -
                </button>

              <div class="mdl-textfield  mdv mdl-js-textfield">
                  <input class="mdl-textfield__input mtf" type="text" pattern="-?[0-9]*(\.[0-9]+)?"  id="contador" value="1" min="0" max="1000" name="contador">
                  <label class="mdl-textfield__label" for="sample2">Number...</label>
                  <span class="mdl-textfield__error">Input is not a number!</span>
                </div>
              <button onclick="sumar()" class="mdl-button mdl-js-button mdl-button--fab mbutton">
                  <i   class="material-icons">add</i>
                </button>


          </form>
        </th>
      </tr>
    </table>

<script>

(function() {
  'use strict';
  window['counter'] = 0;
  var snackbarContainer = document.querySelector('#demo-toast-example');
  var showToastButton = document.querySelector('#demo-show-toast');
  showToastButton.addEventListener('click', function() {
    'use strict';
    var data = {message: 'Example Message # ' + ++counter};
    snackbarContainer.MaterialSnackbar.showSnackbar(data);
  });
}());
</script>
  <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
  <script>
    function sumar() {
      var caja = document.getElementById("contador");

      var val = parseInt(caja.value, 10);
      caja.value = (val + 1);
      event.preventDefault();
                event.stopPropagation();
    };

    function restar() {
      var caja = document.getElementById("contador");

      var val = parseInt(caja.value, 10);
      if (val <= 1) {
        caja.value = 1;
      }
      else {
        caja.value = (val - 1);
      }
      event.preventDefault();
                event.stopPropagation();
    };






  </script>
</body>

</html>
